[Unit]
Description=Needle Stabilizer FastAPI App
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Space-Needle-Simulation
Environment="PATH=/home/ubuntu/Space-Needle-Simulation/venv/bin"
ExecStart=/home/ubuntu/Space-Needle-Simulation/venv/bin/uvicorn app:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

